div{
    margin-left: 300px;
    border: 2px solid red;
    padding: 5px;
    content: "This is a Content div";
    background-color: brown;
} 


div{
    margin-right: 300px;
    border: 2px solid red;
    padding: 5dvh;
    content: "This is a Content div";
    background-color: brown;
}